n8n/workflows/01_rss_to_db.json
{
  "name": "01 - RSS to Database",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "daysInterval": 1,
              "triggerAtHour": 8,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger (Daily 08:00 UTC)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        220,
        480
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const raw = ($env.RSS_FEED_URLS || '').toString();\nconst rssUrls = raw.split(',').map(v => v.trim()).filter(Boolean);\nreturn {\n  json: {\n    rss_urls: rssUrls,\n    max_items_per_feed: 30\n  }\n};"
      },
      "id": "build-ingest-payload",
      "name": "Build Ingest Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/ingest/rss",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}"
      },
      "id": "ingest-rss-api",
      "name": "Ingest RSS via API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        300
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Build Ingest Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Ingest Payload": {
      "main": [
        [
          {
            "node": "Ingest RSS via API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger (Daily 08:00 UTC)": {
      "main": [
        [
          {
            "node": "Build Ingest Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "timezone": "UTC"
  },
  "pinData": {},
  "versionId": "rss-to-db-v1"
}
