n8n/workflows/03_vector_indexing.json
{
  "name": "03 - Vector Indexing",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "daysInterval": 1,
              "triggerAtHour": 8,
              "triggerAtMinute": 20
            }
          ]
        }
      },
      "id": "schedule-trigger-daily",
      "name": "Schedule Trigger (Daily 08:20 UTC)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        220,
        480
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return { json: { limit: 300 } };"
      },
      "id": "build-index-payload",
      "name": "Build Index Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/index/articles",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}"
      },
      "id": "run-indexing",
      "name": "Run Vector Indexing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        300
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Build Index Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Index Payload": {
      "main": [
        [
          {
            "node": "Run Vector Indexing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger (Daily 08:20 UTC)": {
      "main": [
        [
          {
            "node": "Build Index Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "timezone": "UTC"
  },
  "pinData": {},
  "versionId": "vector-indexing-v1"
}
