n8n/workflows/04_rag_chat_agent.json
{
  "name": "04 - RAG Chat Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-news-rag-chat",
        "responseMode": "responseNode"
      },
      "id": "chat-webhook",
      "name": "Chat Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        240
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const body = $json.body ?? {};\nconst question = (body.question ?? $json.question ?? $json.chatInput ?? '').toString().trim();\nif (!question) {\n  throw new Error('question is required (body.question, question, or chatInput)');\n}\nreturn { json: { question } };"
      },
      "id": "extract-question",
      "name": "Extract Question",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}"
      },
      "id": "rag-answer-webhook",
      "name": "Get RAG Answer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        240
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const answer = ($json.answer ?? '').toString().trim();\nlet text = answer || \"I couldn't find enough context to answer that.\";\n\n// Remove trailing Sources section for a cleaner chat reply.\ntext = text.replace(/\\n*Sources\\s*:\\s*[\\s\\S]*$/i, '').trim();\n\nreturn { json: { text } };"
      },
      "id": "format-chat-response",
      "name": "Format Chat Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        940,
        240
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{$json.text}}"
      },
      "id": "respond-chat",
      "name": "Respond to Chat",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1180,
        240
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "manual-trigger",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "webhookId": "f6d2d4d5-bbf4-4fc8-ac6a-03987995c095",
      "position": [
        220,
        520
      ]
    }
  ],
  "connections": {
    "Chat Webhook": {
      "main": [
        [
          {
            "node": "Extract Question",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Question": {
      "main": [
        [
          {
            "node": "Get RAG Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get RAG Answer": {
      "main": [
        [
          {
            "node": "Format Chat Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Chat Response": {
      "main": [
        [
          {
            "node": "Respond to Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "Extract Question",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "pinData": {},
  "versionId": "rag-chat-v2"
}
